* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw;
    height: 100%;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 100px;
    padding: 20px;
}

.inner-header {
    flex: auto;
}

.inner-header h1 {
    font-size: 2.3rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.inner-header h2 {
    font-size: 1.0rem;
    font-weight: normal;
    color: #666;
}

.pfp-container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp-container img{
    width: 50px;
    border-radius: 50%;
    background: grey;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px - 20px);
}

section {
    width: 100%;
    height: auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    flex: auto;
    gap: 50px;
}

.search-form {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
    height: 60px;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar::placeholder {
    color: #aaa;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    color: #666;
}

.search-title {
    display: flex;
    justify-content: space-between;
}

.search-title a {
    color: grey;
}

.search-options {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    overflow-x: auto;
}

.option {
    width: 140px;
    height: 60px;
    background: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option span {
    color: white;
}

.recipes-container {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.recipes-container::-webkit-scrollbar { 
    display: none;
}

.card {
    width: 250px;
    height: 350px; 
    flex-shrink: 0;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 80px;
}

footer img {
    height: 25px;
}